<div class="home-callout text-center container-fluid">
    <div class="container text-center">
        <h1>About Us</h1>
        <h3 class="text-center">GroupCalendar is a project. Made in Ruby on Rails - to learn more in-depth about the functionality with frameworks and web-development.</h3>
    </div>
</div>