<div class="container text-center">
    <h1>About Page</h1>
    <p>GroupCalendar is a project. Made in Ruby on Rails. To learn more in-depth about the functionality with frameworks and web-development.</p>
</div>