<div class="home-callout text-center container-fluid">
    <h1>Welcome to GroupCalendar</h1>
    <h3>A calendar where friends can plan their holidays.</h3>
    

</div>
    
    <% if user_signed_in? %>
        
        <div class="col-md-6">
            <div class="well">
                
                <h2 class="text-center">Your Profile</h2>
                
                <% if current_user.profile %>
                    <%= link_to "Edit your profile", "#", class: 'btn btn-default btn-lg btn-block' %>
                    <%= link_to "View your profile", user_path(id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
                <% else %>
                    <p class="text-center">Create your profile so that you can share your information with the community!</p>
                    <%= link_to "Create your profile!", new_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %> 
                <% end %>
                
            </div>
        </div>
    <div class="col-md-6">
        
        
        <div class="well">
            
            
            <h2 class="text-center">The Community</h2>
            <p class="text-center">Visit the community to meet other people!</p>
            <%= link_to "Visit the community", "#", class: 'btn btn-default btn-lg btn-block' %>
            
        </div>
        
    </div>
    <% else %>
    
    
    
    <% end %>