// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.a:visited {
    color: white;
}

.a:hover {
    background-color: white;
}

.a{
    background-color: white;
}

.allevents a:hover {
    background-color: transparent;
}